@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to The Task Management App</h1>
<br />
<h6>Manage your tasks efficiently and effectively.</h6>
<br />
<h3>Features:</h3>
<ul class="list-unstyled">
    <li>📅 Create and manage tasks effortlessly</li>
    <li>✅ Track your completed tasks</li>
    <li>❌ Mark tasks as incomplete</li>
    <li>📝 Edit existing tasks with ease</li>
    <li>🗑️ Delete tasks you no longer need</li>
</ul>

<h3>Getting Started:</h3>
<p>To begin, you can <a asp-controller="Task" asp-action="Create">create a new task</a> or <a asp-controller="Task" asp-action="Index">explore existing tasks</a>.</p>
